@model IEnumerable<Toy_shopMVC.Models.Manufacturer>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Добавить производителя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th>
                Страна
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdManufacturer">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.IdManufacturer">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
