@{
    ViewData["Title"] = "Забава, магазин игрушек! - Каталог";
}

<div>
    <section class="sectionGames">
        <div class="sectionGames__container containers">
            <h2 class="sectionGames__title titles">Игрушки</h2>
            <div class="list-div-index-page">
                <ul class="sectionGames__list">
                    <li class="sectionGames__item">
                        <a class="sectionGames__item-link" href="#">Куклы</a>
                    </li>

                    <li class="sectionGames__item">
                        <a class="sectionGames__item-link" href="#">Конструкторы</a>
                    </li>

                    <li class="sectionGames__item">
                        <a class="sectionGames__item-link" href="#">Мягкие игрушки</a>
                    </li>

                    <li class="sectionGames__item">
                        <a class="sectionGames__item-link" href="#">Радиоуправляемые</a>
                    </li>

                    <li class="sectionGames__item">
                        <a class="sectionGames__item-link" href="#">Транспорт</a>
                    </li>

                    <li class="sectionGames__item">
                        <a class="sectionGames__item-link" href="#">Для малышей и дошкольников</a>
                    </li>

                    <li class="sectionGames__item">
                        <a class="sectionGames__item-link" href="#">Музыкальные</a>
                    </li>

                    <li class="sectionGames__item">
                        <a class="sectionGames__item-link" href="#">Настольные</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</div>