@model IEnumerable<Toy_shopMVC.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Категории</h1>

<p>
    <a asp-action="Create">Добавить категорию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodeOfCategory">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.CodeOfCategory">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
