<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    <header class="header-layout">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container header-container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <svg width="183" height="39" viewBox="0 0 213 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.28 20.48C24.232 21.152 25.752 22.208 26.84 23.648C27.96 25.056 28.52 26.704 28.52 28.592C28.52 30.64 27.848 32.416 26.504 33.92C25.16 35.424 23.336 36.576 21.032 37.376C18.76 38.176 16.264 38.576 13.544 38.576C11.24 38.576 8.936 38.288 6.632 37.712C4.36 37.136 2.2 36.256 0.152 35.072L2.552 29.504C4.024 30.4 5.64 31.088 7.4 31.568C9.192 32.016 10.936 32.24 12.632 32.24C14.936 32.24 16.84 31.824 18.344 30.992C19.88 30.16 20.648 28.992 20.648 27.488C20.648 26.24 20.12 25.296 19.064 24.656C18.04 24.016 16.632 23.696 14.84 23.696H6.632V17.84H14.264C15.832 17.84 17.048 17.52 17.912 16.88C18.808 16.24 19.256 15.36 19.256 14.24C19.256 12.928 18.616 11.904 17.336 11.168C16.088 10.432 14.472 10.064 12.488 10.064C11.016 10.064 9.496 10.272 7.928 10.688C6.36 11.072 4.872 11.664 3.464 12.464L1.112 6.416C4.664 4.592 8.504 3.68 12.632 3.68C15.256 3.68 17.672 4.064 19.88 4.832C22.088 5.6 23.848 6.72 25.16 8.192C26.472 9.664 27.128 11.376 27.128 13.328C27.128 14.928 26.696 16.352 25.832 17.6C24.968 18.848 23.784 19.808 22.28 20.48ZM92.3968 13.952C94.8608 13.952 97.0208 14.464 98.8768 15.488C100.733 16.48 102.157 17.888 103.149 19.712C104.173 21.536 104.685 23.648 104.685 26.048C104.685 28.512 104.077 30.704 102.861 32.624C101.677 34.512 100.013 35.984 97.8688 37.04C95.7248 38.064 93.2928 38.576 90.5728 38.576C86.0608 38.576 82.5088 37.136 79.9168 34.256C77.3568 31.344 76.0768 27.088 76.0768 21.488C76.0768 16.304 77.1968 12.176 79.4368 9.104C81.7088 6 85.1808 3.968 89.8528 3.008L102.141 0.559999L103.149 6.992L92.3008 9.152C89.3568 9.728 87.1648 10.688 85.7248 12.032C84.3168 13.376 83.4848 15.28 83.2288 17.744C84.3488 16.528 85.6928 15.6 87.2608 14.96C88.8288 14.288 90.5408 13.952 92.3968 13.952ZM90.6208 32.768C92.5408 32.768 94.0768 32.144 95.2288 30.896C96.4128 29.648 97.0048 28.064 97.0048 26.144C97.0048 24.192 96.4128 22.64 95.2288 21.488C94.0768 20.336 92.5408 19.76 90.6208 19.76C88.6688 19.76 87.1008 20.336 85.9168 21.488C84.7328 22.64 84.1408 24.192 84.1408 26.144C84.1408 28.096 84.7488 29.696 85.9648 30.944C87.1808 32.16 88.7328 32.768 90.6208 32.768ZM126.576 11.792C130.576 11.792 133.648 12.752 135.792 14.672C137.936 16.56 139.008 19.424 139.008 23.264V38H132V34.784C130.592 37.184 127.968 38.384 124.128 38.384C122.144 38.384 120.416 38.048 118.944 37.376C117.504 36.704 116.4 35.776 115.632 34.592C114.864 33.408 114.48 32.064 114.48 30.56C114.48 28.16 115.376 26.272 117.168 24.896C118.992 23.52 121.792 22.832 125.568 22.832H131.52C131.52 21.2 131.024 19.952 130.032 19.088C129.04 18.192 127.552 17.744 125.568 17.744C124.192 17.744 122.832 17.968 121.488 18.416C120.176 18.832 119.056 19.408 118.128 20.144L115.44 14.912C116.848 13.92 118.528 13.152 120.48 12.608C122.464 12.064 124.496 11.792 126.576 11.792ZM126 33.344C127.28 33.344 128.416 33.056 129.408 32.48C130.4 31.872 131.104 30.992 131.52 29.84V27.2H126.384C123.312 27.2 121.776 28.208 121.776 30.224C121.776 31.184 122.144 31.952 122.88 32.528C123.648 33.072 124.688 33.344 126 33.344ZM172.441 24.512C175.481 25.536 177.001 27.584 177.001 30.656C177.001 32.992 176.121 34.8 174.361 36.08C172.601 37.36 169.977 38 166.489 38H152.713V12.176H165.913C169.145 12.176 171.673 12.768 173.497 13.952C175.321 15.104 176.233 16.736 176.233 18.848C176.233 20.128 175.897 21.264 175.225 22.256C174.585 23.216 173.657 23.968 172.441 24.512ZM159.577 22.784H165.241C167.865 22.784 169.177 21.856 169.177 20C169.177 18.176 167.865 17.264 165.241 17.264H159.577V22.784ZM165.865 32.912C168.617 32.912 169.993 31.968 169.993 30.08C169.993 29.088 169.673 28.368 169.033 27.92C168.393 27.44 167.385 27.2 166.009 27.2H159.577V32.912H165.865Z" fill="#525252" />
                        <path d="M51.332 11.792C55.332 11.792 58.404 12.752 60.548 14.672C62.692 16.56 63.764 19.424 63.764 23.264V38H56.756V34.784C55.348 37.184 52.724 38.384 48.884 38.384C46.9 38.384 45.172 38.048 43.7 37.376C42.26 36.704 41.156 35.776 40.388 34.592C39.62 33.408 39.236 32.064 39.236 30.56C39.236 28.16 40.132 26.272 41.924 24.896C43.748 23.52 46.548 22.832 50.324 22.832H56.276C56.276 21.2 55.78 19.952 54.788 19.088C53.796 18.192 52.308 17.744 50.324 17.744C48.948 17.744 47.588 17.968 46.244 18.416C44.932 18.832 43.812 19.408 42.884 20.144L40.196 14.912C41.604 13.92 43.284 13.152 45.236 12.608C47.22 12.064 49.252 11.792 51.332 11.792ZM50.756 33.344C52.036 33.344 53.172 33.056 54.164 32.48C55.156 31.872 55.86 30.992 56.276 29.84V27.2H51.14C48.068 27.2 46.532 28.208 46.532 30.224C46.532 31.184 46.9 31.952 47.636 32.528C48.404 33.072 49.444 33.344 50.756 33.344Z" fill="#1598E2" />
                        <path d="M199.804 11.792C203.804 11.792 206.876 12.752 209.02 14.672C211.164 16.56 212.236 19.424 212.236 23.264V38H205.228V34.784C203.82 37.184 201.196 38.384 197.356 38.384C195.372 38.384 193.644 38.048 192.172 37.376C190.732 36.704 189.628 35.776 188.86 34.592C188.092 33.408 187.708 32.064 187.708 30.56C187.708 28.16 188.604 26.272 190.396 24.896C192.22 23.52 195.02 22.832 198.796 22.832H204.748C204.748 21.2 204.252 19.952 203.26 19.088C202.268 18.192 200.78 17.744 198.796 17.744C197.42 17.744 196.06 17.968 194.716 18.416C193.404 18.832 192.284 19.408 191.356 20.144L188.668 14.912C190.076 13.92 191.756 13.152 193.708 12.608C195.692 12.064 197.724 11.792 199.804 11.792ZM199.228 33.344C200.508 33.344 201.644 33.056 202.636 32.48C203.628 31.872 204.332 30.992 204.748 29.84V27.2H199.612C196.54 27.2 195.004 28.208 195.004 30.224C195.004 31.184 195.372 31.952 196.108 32.528C196.876 33.072 197.916 33.344 199.228 33.344Z" fill="#DD3939" />
                    </svg>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between navbar-nav-div">

                    <ul class="navbar-nav flex-grow-1 navbar-nav-list">
                        <li class="nav-item">
                            <a class="nav-link nav-link1 text-dark" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link2 text-dark" asp-area="" asp-controller="Catalog" asp-action="Index">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link3 text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Роли</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link3 text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Категории</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link3 text-dark" asp-area="" asp-controller="Manufacturers" asp-action="Index">Производители</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link3 text-dark" asp-area="" asp-controller="Status" asp-action="Index">Статусы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link3 text-dark" asp-area="" asp-controller="Products" asp-action="Index">Продукты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link3 text-dark" asp-area="" asp-controller="ProductInCategories" asp-action="Index">Продукт-Категория</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link nav-link3 text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Заказы</a>
                            </li>
                        <li class="nav-item nav-item-korzina">
                            <a class="nav-link nav-link4 nav-link-korzina text-dark" asp-area="" asp-controller="ProductInBaskets" asp-action="Index">Корзина</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link3 text-dark" asp-area="" asp-controller="Role" asp-action="Index">Панель администратора</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3 main">
        <div class="container">
            @RenderBody()
        </div>
    </main>


    <footer class="border-top footer text-muted">
        <div class="footer__container container">
            <a class="footer__NavbarBrand" href="#">
                <svg width="130" height="39" viewBox="0 0 213 39" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M22.28 20.48C24.232 21.152 25.752 22.208 26.84 23.648C27.96 25.056 28.52 26.704 28.52 28.592C28.52 30.64 27.848 32.416 26.504 33.92C25.16 35.424 23.336 36.576 21.032 37.376C18.76 38.176 16.264 38.576 13.544 38.576C11.24 38.576 8.936 38.288 6.632 37.712C4.36 37.136 2.2 36.256 0.152 35.072L2.552 29.504C4.024 30.4 5.64 31.088 7.4 31.568C9.192 32.016 10.936 32.24 12.632 32.24C14.936 32.24 16.84 31.824 18.344 30.992C19.88 30.16 20.648 28.992 20.648 27.488C20.648 26.24 20.12 25.296 19.064 24.656C18.04 24.016 16.632 23.696 14.84 23.696H6.632V17.84H14.264C15.832 17.84 17.048 17.52 17.912 16.88C18.808 16.24 19.256 15.36 19.256 14.24C19.256 12.928 18.616 11.904 17.336 11.168C16.088 10.432 14.472 10.064 12.488 10.064C11.016 10.064 9.496 10.272 7.928 10.688C6.36 11.072 4.872 11.664 3.464 12.464L1.112 6.416C4.664 4.592 8.504 3.68 12.632 3.68C15.256 3.68 17.672 4.064 19.88 4.832C22.088 5.6 23.848 6.72 25.16 8.192C26.472 9.664 27.128 11.376 27.128 13.328C27.128 14.928 26.696 16.352 25.832 17.6C24.968 18.848 23.784 19.808 22.28 20.48ZM92.3968 13.952C94.8608 13.952 97.0208 14.464 98.8768 15.488C100.733 16.48 102.157 17.888 103.149 19.712C104.173 21.536 104.685 23.648 104.685 26.048C104.685 28.512 104.077 30.704 102.861 32.624C101.677 34.512 100.013 35.984 97.8688 37.04C95.7248 38.064 93.2928 38.576 90.5728 38.576C86.0608 38.576 82.5088 37.136 79.9168 34.256C77.3568 31.344 76.0768 27.088 76.0768 21.488C76.0768 16.304 77.1968 12.176 79.4368 9.104C81.7088 6 85.1808 3.968 89.8528 3.008L102.141 0.559999L103.149 6.992L92.3008 9.152C89.3568 9.728 87.1648 10.688 85.7248 12.032C84.3168 13.376 83.4848 15.28 83.2288 17.744C84.3488 16.528 85.6928 15.6 87.2608 14.96C88.8288 14.288 90.5408 13.952 92.3968 13.952ZM90.6208 32.768C92.5408 32.768 94.0768 32.144 95.2288 30.896C96.4128 29.648 97.0048 28.064 97.0048 26.144C97.0048 24.192 96.4128 22.64 95.2288 21.488C94.0768 20.336 92.5408 19.76 90.6208 19.76C88.6688 19.76 87.1008 20.336 85.9168 21.488C84.7328 22.64 84.1408 24.192 84.1408 26.144C84.1408 28.096 84.7488 29.696 85.9648 30.944C87.1808 32.16 88.7328 32.768 90.6208 32.768ZM126.576 11.792C130.576 11.792 133.648 12.752 135.792 14.672C137.936 16.56 139.008 19.424 139.008 23.264V38H132V34.784C130.592 37.184 127.968 38.384 124.128 38.384C122.144 38.384 120.416 38.048 118.944 37.376C117.504 36.704 116.4 35.776 115.632 34.592C114.864 33.408 114.48 32.064 114.48 30.56C114.48 28.16 115.376 26.272 117.168 24.896C118.992 23.52 121.792 22.832 125.568 22.832H131.52C131.52 21.2 131.024 19.952 130.032 19.088C129.04 18.192 127.552 17.744 125.568 17.744C124.192 17.744 122.832 17.968 121.488 18.416C120.176 18.832 119.056 19.408 118.128 20.144L115.44 14.912C116.848 13.92 118.528 13.152 120.48 12.608C122.464 12.064 124.496 11.792 126.576 11.792ZM126 33.344C127.28 33.344 128.416 33.056 129.408 32.48C130.4 31.872 131.104 30.992 131.52 29.84V27.2H126.384C123.312 27.2 121.776 28.208 121.776 30.224C121.776 31.184 122.144 31.952 122.88 32.528C123.648 33.072 124.688 33.344 126 33.344ZM172.441 24.512C175.481 25.536 177.001 27.584 177.001 30.656C177.001 32.992 176.121 34.8 174.361 36.08C172.601 37.36 169.977 38 166.489 38H152.713V12.176H165.913C169.145 12.176 171.673 12.768 173.497 13.952C175.321 15.104 176.233 16.736 176.233 18.848C176.233 20.128 175.897 21.264 175.225 22.256C174.585 23.216 173.657 23.968 172.441 24.512ZM159.577 22.784H165.241C167.865 22.784 169.177 21.856 169.177 20C169.177 18.176 167.865 17.264 165.241 17.264H159.577V22.784ZM165.865 32.912C168.617 32.912 169.993 31.968 169.993 30.08C169.993 29.088 169.673 28.368 169.033 27.92C168.393 27.44 167.385 27.2 166.009 27.2H159.577V32.912H165.865Z" fill="#525252" />
                    <path d="M51.332 11.792C55.332 11.792 58.404 12.752 60.548 14.672C62.692 16.56 63.764 19.424 63.764 23.264V38H56.756V34.784C55.348 37.184 52.724 38.384 48.884 38.384C46.9 38.384 45.172 38.048 43.7 37.376C42.26 36.704 41.156 35.776 40.388 34.592C39.62 33.408 39.236 32.064 39.236 30.56C39.236 28.16 40.132 26.272 41.924 24.896C43.748 23.52 46.548 22.832 50.324 22.832H56.276C56.276 21.2 55.78 19.952 54.788 19.088C53.796 18.192 52.308 17.744 50.324 17.744C48.948 17.744 47.588 17.968 46.244 18.416C44.932 18.832 43.812 19.408 42.884 20.144L40.196 14.912C41.604 13.92 43.284 13.152 45.236 12.608C47.22 12.064 49.252 11.792 51.332 11.792ZM50.756 33.344C52.036 33.344 53.172 33.056 54.164 32.48C55.156 31.872 55.86 30.992 56.276 29.84V27.2H51.14C48.068 27.2 46.532 28.208 46.532 30.224C46.532 31.184 46.9 31.952 47.636 32.528C48.404 33.072 49.444 33.344 50.756 33.344Z" fill="#1598E2" />
                    <path d="M199.804 11.792C203.804 11.792 206.876 12.752 209.02 14.672C211.164 16.56 212.236 19.424 212.236 23.264V38H205.228V34.784C203.82 37.184 201.196 38.384 197.356 38.384C195.372 38.384 193.644 38.048 192.172 37.376C190.732 36.704 189.628 35.776 188.86 34.592C188.092 33.408 187.708 32.064 187.708 30.56C187.708 28.16 188.604 26.272 190.396 24.896C192.22 23.52 195.02 22.832 198.796 22.832H204.748C204.748 21.2 204.252 19.952 203.26 19.088C202.268 18.192 200.78 17.744 198.796 17.744C197.42 17.744 196.06 17.968 194.716 18.416C193.404 18.832 192.284 19.408 191.356 20.144L188.668 14.912C190.076 13.92 191.756 13.152 193.708 12.608C195.692 12.064 197.724 11.792 199.804 11.792ZM199.228 33.344C200.508 33.344 201.644 33.056 202.636 32.48C203.628 31.872 204.332 30.992 204.748 29.84V27.2H199.612C196.54 27.2 195.004 28.208 195.004 30.224C195.004 31.184 195.372 31.952 196.108 32.528C196.876 33.072 197.916 33.344 199.228 33.344Z" fill="#DD3939" />
                </svg>
            </a>

            <div class="footer__description">
                <div class="footer__contacts">
                    Контактные данные:
                    <a class="footer__tel-link" href="tel:+8 888 888 88 88"> +8 888 888 88 88</a>
                    <a class="footer__zakaz-link" href="#">ИП Заказчик</a>
                    &copy; 2021 - Toy Shop Zabava - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                <div class="footer__sotrudniks">
                    <a class="footer__sotrudnik-link" href="#">Для сотрудников</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>