@model Toy_shopMVC.Models.Order

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodeOrder" />
            <div class="form-group">
                <label asp-for="CodeProductInBasket" class="control-label"></label>
                <select asp-for="CodeProductInBasket" class="form-control" asp-items="ViewBag.CodeProductInBasket"></select>
                <span asp-validation-for="CodeProductInBasket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label">Сумма</label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="DateOfCreation" class="control-label">Дата создания</label>
                <input asp-for="DateOfCreation" class="form-control" />
                <span asp-validation-for="DateOfCreation" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="CodeStatus" class="control-label">Статус заказа</label>
                <select asp-for="CodeStatus" class="form-control" asp-items="ViewBag.CodeStatus"></select>
                <span asp-validation-for="CodeStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Клиент</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Телефон</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label">Комментарий</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Почта</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
