@model Toy_shopMVC.Models.Order

@{
    ViewData["Title"] = "Create";
}
<h4>Подробности заказа появятся в следующем окне</h4>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="CodeProductInBasket" class="control-label"></label>
                <select asp-for="CodeProductInBasket" class="form-control" asp-items="ViewBag.CodeProductInBasket"></select>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Sum" class="control-label"></label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                    <label asp-for="DateOfCreation" class="control-label"></label>
                    <input asp-for="DateOfCreation" class="form-control" />
                    <span asp-validation-for="DateOfCreation" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                <label asp-for="CodeStatus" class="control-label"></label>
                <select asp-for="CodeStatus" class="form-control" asp-items="ViewBag.CodeStatus"></select>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label">Введите имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Введите телефон</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label">Комментарий</label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Почта</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Оформить заказ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
