@model IEnumerable<Toy_shopMVC.Models.Status>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Добавить статус</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Наименование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodeOfStatus">Редактировать</a> |
                <a asp-action="Delete" asp-route-id="@item.CodeOfStatus">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
